// Base
// ----------------------------------------------------------

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {

  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #727272;

}

h1, h2, h3, h4, h5, h6 { font-size: 1rem; font-weight: 400; }

a         { text-decoration: none; }
a:hover   { text-decoration: underline; }

  // Utility

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  margin: 0 auto;
  zoom: 1;
}




/*
    these are just the default styles used in the Cycle2 demo pages.
    you can use these styles or any others that you wish.
*/



.cycle-slideshow { height:55px; width: 100%; margin: 10px auto; padding: 0; position: relative; }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img {
  /*
  some of these styles will be set by the plugin (by default) but setting them here
  helps avoid flash-of-unstyled-content
  */

  width: 500px;
  height: auto;
  padding-right:40px;

}
