// Base
// ----------------------------------------------------------

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {

  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #727272;

}

h1, h2, h3, h4, h5, h6 { font-size: 1rem; font-weight: 400; }

a         { text-decoration: none; }
a:hover   { text-decoration: underline; }

  // Utility

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  margin: 0 auto;
  zoom: 1;
}

.cycle-slideshow { height:55px; width: 100%; margin: 10px auto; padding: 0; position: relative; }

.cycle-slideshow img {

  width: 500px;
  height: auto;
  padding-right:40px;

}

label.error {

  color: #b94a48;

  line-height: 1.5rem;

  font-size: 1.2rem;

}