
.navbar-fixed-top {

  border: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.5);
  text-align: center;

}

.navbar-default {

  font-family: 'Lato', Helvetica, Arial, sans-serif;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  background-color: rgba(255,255,255,0.97);
  background:  rgba(255,255,255,0.97);

  .nav>li {
    margin-right: 15px;
  }

}

.navbar-brand {

  font-family: "ff-tisa-sans-web-pro";

  font-size: 3rem;
  font-weight: bold;
  color: #333 !important;
  margin-right: 120px;
  line-height: 12px;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}


.navbar-brand small{

  color: #37abc8 !important;

}

.nav-big {

  padding-top: 30px;

  background-color: transparent;

  background: transparent;

  border-bottom: 0px;

  box-shadow: none;

  .navbar-brand {

    font-size: 4.5rem;
    padding-top: 12px;

  }

  a {

    color: #FFF !important;

  }

}
