
.infogrey {

  background: #f4f5f6;

  padding: 3rem;

  text-align: center;

  border-bottom: 1px solid #e5e5e5;

}

.containerbox {

  margin-bottom:5rem;

    h2 {

      font-size: 5rem;

      line-height: 6rem;

      font-weight: 300;

      text-align: center;

      color: #3e3e3e;

    }

    h4 {

      font-size: 3rem;

      line-height: 3rem;

      font-weight: 400;

      color: #353535;

      margin-top: 2rem;

      margin-bottom: 2rem;

    }

    .large {

      font-size: 2rem;

      line-height: 3rem;

      margin-bottom: 2rem;

      font-weight: 400;

      text-align: center;

    }

    .fa-4 {

      font-size: 5rem;

      color: #353535;

    }


}

.logoboxes {

  border-top: 1px solid #e5e5e5;

}



.spacer {

  height:40px;

}

.spacer-big {

  height:90px;

}

.contact-form {
  margin-top:2rem;
}
.submit-button {

  width: 225px;

}

.footer-botom {

  margin-top:20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 0;
  margin-bottom:0px;

}



